<!-- <nav class="navbar navbar-light bg-light">
    {%- if site.show-style-guide %}
        <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
    {%- endif %}
    </nav> -->


    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{{ site.baseurl }}/websitelogo.svg" alt="Logo Minuten">
                </div>
                <div col-4>
                    Home
                </div>
                <div col-4>
                    Tijd huren
                </div>
                <div col-4>
                    Contact
                </div>
            </div>
        </div>
    </div>