---
layout: index-default
permalink: index
# Custom Page Variables
navigation: yes
# ─────────────────────
title: Minuten
---



<div class="container-fluid" id="guide-template">
    <div class="row pt-3 bg-lightblue">
                <div class=" col-12 embed-responsive embed-responsive-21by9">
                    <iframe src="https://giphy.com/embed/Ey0rfORLJYHFm" width="320" width-md="640" height="180" height-md="358,67" frameBorder="0" class="giphy-embed embed-responsive-item" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/countdown-Ey0rfORLJYHFm"></a></p>
                </div>
                <div class="col-6 bg-lightblue text-align-right">
                    <a class="btn btn-success rounded-circle float-right mt-3" href="#groot" role="button"> v </a>
                </div>
                <div class="col-6 bg-lightblue mt-3 mb-3 pb-3">
                    <p class="text-white">
                        Dju, weer tien seconden verspilt!<br>
                        Win of koop je tijd hieronder terug
                    </p>
                </div>
        
    </div>
</div>













<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top text-white justify-content-end"> 
        
        <!-- Just an image -->
        <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">
          <img src="{{ site.baseurl }}/images/websitelogo.svg" width="50" height="50" alt="logo">
        </a>
        </nav>
    
        <div class="d-none d-xs-block d-sm-block d-md-block d-lg-none d-xl-none">
        <a href="winkelmandje.html">
            <img src="{{ site.baseurl }}/images/winkelmandje.svg" width="30" height="30" alt="winkelmandje" class="mr-3">
        </a>
        </div>
    
        <!-- hamburger icoon -->
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <!-- hoofdnavigatie -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              {% assign links = site.data.navigation %}
              {% for link in links %}
                  {% assign class = nil %}
                  {% if link.url contains page.url %}
                      {% assign class = 'active' %}
                  {% endif %}
                  {% if link.sublinks %}
                      <li class="nav-item dropdown {{ class }}">
                          <a href="{{ site.baseurl }}{{ link.url }}" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              {% for sublink in link.sublinks %}
                                      <li class="dropdown-item">
                                          <a class="nav-link" href="{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                      </li>
                              {% endfor %}
                          </ul>
                      </li>
                  {% else %}
                      <li class="nav-item{{ class }}">
                          <a class="nav-link text-white" href="{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                      </li>
                  {% endif %}
              {% endfor %}
          </ul>
        </div>
    
        <div class="d-none d-xs-none d-sm-none d-md-none d-lg-block d-xl-block">
        <a href="winkelmandje.html" class="hidden-sm-down">
                <img src="{{ site.baseurl }}/images/winkelmandje.svg" width="30" height="30" alt="winkelmandje" class="mr-3">
        </a>
        </div>
      </nav>
    
    












        <div class="container mt-3 pt-3" id="groot">
            <div class="row mt-3 pt-3">
                <div class="col-12 col-md-6 mt-3 pt-3 mb-3 pb-3">
                        <h1 class="display-1">Minuten</h1>
                        <p>Hoofdzakelijk bedoeld voor de tijdsoptimisten onder ons. <br>
                            Daar is niets mis mee. <br>
                            Maar wij geven je toch graag een oplossing.</p>
                </div>
            </div>
        </div>

        <div class="container mb-3 pb-3">
            <div class="row mt-3 pt-3 mb-3 pb-3">
                <div class="col-12 col-md-6 mt-3 pt-3 mb-3 pb-3"></div>
                <div class="col-12 col-md-6 mt-3 pt-3 mb-3 pb-3 bg-warning">
                    <h2 class="display-5 text-white text-right">Onderzoek toont aan:<br>
                            Je kan beter tijd kopen dan spullen.</h2>
                    </div>
                </div>
            </div>
        </div>

        

        <div class="container pb-3">
            <div class="row mt-3 pb-3 pt-3">
                <div class="col-md-2 pb-3 bg-success"></div>
                <div class="col-12 col-md-4 bg-success">
                    <blockquote class="pt-3 pb-3 mb-0 pb-3">
                    <p class="font-italic">Tijdsoptimist <br>
                        (zn) persoon die altijd te laat is <br>
                        doordat hij over meer tijd denkt te beschikken <br>
                        dan hij werkelijk heeft.</p>
                    </blockquote>
                </div>
            </div>
        </div>
        <div class="container mt-3 pt-3">
            <div class="row mt-3 pt-3">
                <div class="col-12">
                    <h2 class="display-4">Wie zijn we?<br >
                    Wat doen we?</h2>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row" id="content">
                <div class="lead col-12">
                    <p class="font-weight-bold text-uppercase mt-3"><mark>MINUTEN is een organisatie die geeft om jouw tijd.</mark></p>
                    <p>Opgericht door twee tijdsoptimisten die een reddingsmiddel wouden geven aan mensen net als zij. Of je nu een tijdsoptimist, -realist of -pessimist bent, ook jij verspilt wel eens tijd, tijd die je dus beter zou kunnen besteden. Hiervoor bieden wij een oplossing. <br>
                        Je huurt bij ons de tijd die je nodig hebt om je productiviteit terug op punt te stellen. Is dat 5 minuten of eerder 50 minuten? Aan jou de keuze.<br>
                        Studenten, volwassenen, ouderen, kinderen ... Iedereen weet wat het is en iedereen zou wel eens wensen dat hij meer tijd had. Nu kan dit ook. Je huurt je tijd simpelweg bij ons.
                        Opgelet! Deze tijd is enkel productief te besteden! We zijn er niet om je aan nog meer verspilde tijd te helpen. Ons doel is de efficiëntie van jouw leven aan te wakkeren.
                        Je gehuurde tijd goed besteed? Kijk dan gerust die zoveelste aflevering van die zoveelste serie!</p>
                </div>
            </div>
        </div>

        <div class="container-fluid mt-3 pt-3">
            <div class="row mt-3 pt-3 mb-3 pb-3">
                    <div class="col-12 bg-warning">
                            <p>
                            </p>
                    </div>
                    <div class="col-12 text-center bg-warning text-black font-weight-bold">
                        <p>Wij geven om jouw productiviteit. Daarom maak jij kans op vijf minuten van onze tijd! <br>
                            Het enige dat jij moet doen is op onderstaande button klikken en hopen.</p>
                    </div>
                    
                    <div class="hover01">
                            <div>
                              <figure><img src="{{ site.baseurl }}/images/win.svg" /></figure>
                              <span>Hover</span>
                            </div>
                    </div>

                    <!--<img src="{{ site.baseurl }}/images/win.svg" alt="win" width="100%" height="100%" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">-->
                    
                    <div class="collapse bg-light mx-auto" id="collapseExample">
                        <div class="card card-body bg-light text-white">
                        Laat je e-mailadres achter en wij contacteren de gelukkige winnaars op het einde van de maand.
                        <form action="bedankt.html">
                        <div class="form-group bg-light">
                            <div class="form-group">
                                    <label class="text-white" for="exampleInputEmail1"></label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="typ hier je e-mailadres">
                                    <small id="emailHelp" class="form-text text-white">Wij delen nooit deze informatie met derden.</small>
                            </div>
                            <div>
                                <button type="button" class="btn btn-success" data-target="#exampleModal" data-toggle="modal">Verzend</button>
                                
                                <!-- Modal -->
                                <div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
                                  <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title text-black">Bedankt!</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body text-black">
                                        <p> We hebben je gegevens goed ontvangen, als je bij de gelukkigen bent dan hoor je van ons op de laatste dag van deze maand. </p>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-success" data-dismiss="modal">Terug naar de website</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            </div>

                        </div>
                    </form>
                        </div>
                    </div>
                    <!--<div class="col-12 bg-warning mb-3 pb-3 mt-3 pt-3">
                            <p>
                            </p>
                    </div>-->
            </div>
        </div>
    

    